In [66]:
import numpy as np
import pandas as pd

pd.__version__

'1.5.3'

In [18]:
df = pd.read_csv('C:\\Users\ACER\\OneDrive - Universitas Airlangga\\Kuliah\\Learn-MLZoomCamp2023\\Learn-MLZoomCamp2023\\HomeWork\\raw.githubusercontent.com_alexeygrigorev_datasets_master_housing.csv')
df.head(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [22]:
len(df.columns)

10

In [23]:
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [24]:
df['ocean_proximity'].nunique()

5

In [31]:
temp = df[df['ocean_proximity'] == "NEAR BAY"]
temp.median_house_value.mean().round()

259212.0

In [50]:
average = df.total_bedrooms.mean()
average

532.47621124031

In [51]:
df = df.fillna(average)

In [53]:
df.total_bedrooms.mean()

532.47621124031

In [55]:
df['ocean_proximity'].unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [58]:
temp = df[df['ocean_proximity'] == "ISLAND"]

In [64]:
X = temp[['housing_median_age','total_rooms','total_bedrooms']]
X

      housing_median_age  total_rooms  total_bedrooms
8314                27.0       1675.0           521.0
8315                52.0       2359.0           591.0
8316                52.0       2127.0           512.0
8317                52.0        996.0           264.0
8318                29.0        716.0           214.0

In [68]:
X = np.array(X)

In [78]:
XTX = np.matmul(X.T, X)

In [88]:
XTX_inv = np.linalg.inv(XTX)

In [89]:
y = np.array([950, 1300, 800, 1000, 1300])

In [91]:
w = np.matmul(np.matmul(XTX_inv,X.T),y)
w

array([23.12330961, -1.48124183,  5.69922946])